<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG sampler">
    <listeners>
        <listener class-name="tests.AnnotationTransformer"/>
    </listeners>
    <test name="TestNG one">
        <classes>
            <class name="tests.LocatorsTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test> <!-- Test -->
</suite>